/*
I'm terrible at CSS, I'm sorry. This could me improved a lot.

If you do improve it, a pull request at github.com/pearkes/singer would
be much appreciated!
 */

h1 {
    font-size: 85px;
    color: white;
    padding-left: 5px;
    opacity: 0.8;
    animation: fadein 1s;
    -webkit-animation: fadein 1s;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  opacity: 0.8;
}

a {
  color: inherit;
  z-index: 150;
  position: relative;
}

a:hover {
  color: inherit;
}

.navi {
  font-size: 50px;
  opacity: 0.8;
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
}

button {
  z-index: 150;
  position: relative;
}

.navi-home-right {
  margin-top: 20px;
  margin-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
  font-size: 80px !important;
  opacity: 0.8;
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
}

.navi-home-left {
  margin-top: 15px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 10px;
  margin-left: 10px;
  font-size: 80px !important;
  opacity: 0.8;
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
}

.navi-right {
  margin-top: -5px;
  opacity: 0.8;
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
}

.navi-toggle {
  margin-top: -5px;
  opacity: 0.8;
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
}


.bar {
  position:absolute;
  background-color: white;
  height: 80%;
  -webkit-mask-image: -webkit-gradient(linear, left 20%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  width: 0%;
  top: 0;
  z-index: 100;
  opacity: 0.1;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:0.8;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:0.8;
    }
}

.big-text span {
  font-size: 100px;
  color: inherit;
}

.btn-con {
  color: inherit;
}

.btn-con:hover {
  color: inherit;
}

pre {
  background-color: inherit;
  border: none;
  font-family: inherit;
  color: inherit;
  opacity: inherit;
  font-size: 22px;
  line-height: 35px;
  opacity: 0.8;
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
}

.track-heading {
  opacity: 0.8;
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
}

.track-list {
  font-size: 40px;
  margin-top: 70px;
  list-style-type: none;
  opacity: 0.8;
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
}


.artist {
  animation: fadein 1s;
  opacity: 0.8;
  -webkit-animation: fadein 1s;
}

.descriptions {
  font-size: 20px;
  margin-top: 10px;
  list-style-type: none;
  opacity: 0.8;
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
}


.outro {
  opacity: 0.8;
  margin-top: 100px;
  font-size: 18px;
  text-shadow: 1px 1px 1px #000;
  animation: fadein 3s;
  -webkit-animation: fadein 3s;
}

.outro a {
  text-decoration: underline;
}

.navi-tiny {
  font-size: 20px;
  padding-bottom: 7px;
}

.lead-in {
  font-size: 22px;
  margin-top: 40px;
  opacity: 0.8;
  width: 400px;
  line-height: 35px;
  display: inline-block;
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
}
